.shop-container {
  width: 100%;
  height: 91%;
  background-color: var(--light-grey);
}

mat-drawer-content {
  padding-top: 15px;
}

.shop-container > mat-drawer {
  min-width: 450px;
  background-color: var(--dark-grey);
}

#toggle {
  background-color: var(--orange);
}

.shop-container-header {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

::ng-deep input.mat-input-element {
  color: var(--dark-grey);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--dark-grey) !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: var(--dark-grey) !important;
}
