:root {
  --white: rgb(255, 255, 255);
  --orange: #f97136;
  --light-grey: #f8f8f8;
  --dark-grey: #2f2b2a;
  --silver: #bdc3c7;
  --light-blue: #b0d2db;
}

html,
body {
  height: 100%;
  font-family: "Roboto Mono", monospace !important;
}

body {
  margin: 0;
}
