<div class="order-item-container">
  <img [src]="product.item.image" alt="product.item.name" />
  <div class="order-item-product-info">
    <h4 [appHighlight]="searchInputValue">
      <span>{{ product.item.name }}</span>
    </h4>
    <p [appHighlight]="searchInputValue">Price: {{ product.item.price }}</p>
  </div>
  <p class="line-as-price" [appHighlight]="searchInputValue">
    Quantity: {{ product.quantity }}
  </p>
  <p class="line-as-price" [appHighlight]="searchInputValue">
    Total Price: {{ product.totalPrice }}
  </p>
</div>
