.order-item-container {
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 7%;
  border-bottom: 1px solid #c3cbd7;
}

.order-item-container > img {
  width: 100px;
  height: 100px;
}

span {
  font-weight: 500;
}

.line-as-price {
  padding-top: 40px;
}
