<div class="main-about-wrapper">
  <div class="main-about-container">
    <div class="main-about-info">
      <span>
        <p>Available Products {{ productService.allProducts.length }}</p>
        <p>Order Submitted {{ orderService.amountOfOrders }}</p>
      </span>
    </div>

    <div class="main-about-notification-container">
      <p class="notification-header">Notifications:</p>
      <p class="notification" *ngIf="authService.isLogging(); else elseLogin">
        {{ cartService.notification }}
      </p>
      <ng-template #elseLogin>Login First</ng-template>
    </div>
  </div>
</div>
