<div mat-dialog-content class="popup-container">
  <h4 mat-dialog-title>{{ data.product.name }}</h4>
  <div class="popup-pick-amount-container">
    <button (click)="data.decrescAmount()">dec</button>
    <h1>{{data.amount}}</h1>
    <button (click)="data.increaseAmount()">inc</button>
  </div>
  <h3>
    Total Price:
    <br />
    {{ data.totalPrice }}
  </h3>
  <button
    mat-raised-button
    color="primary"
    (click)="data.addProductToCart()"
    mat-dialog-close
  >
    Add To Cart
  </button>
</div>
