.navbar-wrapper {
  background-color: var(--white);
  z-index: 999;
}

.nav-logout-btn {
  background-color: var(--dark-grey);
  margin-left: auto;
  color: aliceblue;
  border-radius: 35px;
}

.nav-logout-btn:hover {
  box-shadow: 0 0 13px rgba(33, 33, 33, 0.2);
}

.navbar-logo {
  margin-left: 30px;
  width: 170px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #82422e;
}

.navbar-logo > img {
  object-fit: contain;
  width: 120px;
  height: 160%;
}
