<div class="order-form-container">
  <form [formGroup]="orderForm" (ngSubmit)="submitNewOrder()">
    <mat-form-field appearance="legacy" (dblclick)="setCityCurrentUserValue()">
      <mat-label>Enter City</mat-label>
      <mat-select formControlName="city">
        <mat-option value="">-- None --</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
      <mat-hint>Double click for current city</mat-hint>
      <mat-error *ngIf="city?.errors?.required && (city.dirty || city.touched)"
        >City is require</mat-error
      >
    </mat-form-field>

    <mat-form-field
      appearance="legacy"
      (dblclick)="setStreetCurrentUserValue()"
    >
      <mat-label>Enter Street</mat-label>
      <input matInput formControlName="street" />
      <mat-hint>Double click for current street</mat-hint>
      <mat-error
        *ngIf="street?.errors?.required && (street.dirty || street.touched)"
        >Street is require</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Enter delivery date</mat-label>
      <input value="" type="date" matInput formControlName="deliveryDate" />
      <mat-error
        *ngIf="
          deliveryDate?.errors?.orderExistThreeTimes &&
          (deliveryDate.dirty || deliveryDate.touched)
        "
        >Too much order on this date. Please pick another date.</mat-error
      >
      <mat-error
        *ngIf="
          deliveryDate?.errors?.required &&
          (deliveryDate.dirty || deliveryDate.touched)
        "
        >Delivery date is require</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter Credit Cart Number</mat-label>
      <input
        placeholder="xxxx - xxxx - xxxx - xxxx"
        matInput
        formControlName="creditCard"
      />
      <mat-error
        *ngIf="
          creditCard?.errors?.required &&
          (creditCard.dirty || creditCard.touched)
        "
        >Credit Card is require</mat-error
      >
      <mat-error
        *ngIf="
          creditCard?.errors?.minlength &&
          (creditCard.dirty || creditCard.touched)
        "
        >Credit Card must be at least 10 Numbers.</mat-error
      >
      <mat-error
        *ngIf="
          creditCard?.errors?.maxlength &&
          (creditCard.dirty || creditCard.touched)
        "
        >Credit Card must be at the most 20 Numbers.</mat-error
      >
      <mat-error
        *ngIf="
          creditCard?.errors?.pattern &&
          (creditCard.dirty || creditCard.touched)
        "
        >Credit Card contain numbers only.</mat-error
      >
    </mat-form-field>
    <button
      type="submit"
      [disabled]="orderForm.invalid"
      mat-raised-button
      class="order-submit-button"
    >
      ORDER
    </button>
  </form>
</div>
<app-order-popup *ngIf="orderService.success"></app-order-popup>
