.main-login-container {
  margin-top: 20%;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-login-form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-button-group {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
